<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nueva Consulta" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNuevaConsulta()"></button>
            <button pButton pRipple [label]="Eliminar" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
            <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="consultas" [lazy]="true" (onLazyLoad)="loadConsultas($event)" [rows]="5" [paginator]="true" [totalRecords]="totalRecords" [loading]="loading" [globalFilterFields]="['paciente.nombres','profesional.nombres','sucursal.nombre','fecha_consulta']" responsiveLayout="scroll"
    [(selection)]="selectedConsultas" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Mostramdo {first} a {last} de {totalRecords} consultas" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">Gestionar Consultas</h5>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="paciente">Paciente <p-sortIcon field="name"></p-sortIcon></th>
           <th pSortableColumn="profesional">Profesional <p-sortIcon field="profesional"></p-sortIcon></th>
            <th pSortableColumn="category">Sucursal <p-sortIcon field="sucursal"></p-sortIcon></th>
            <th pSortableColumn="fecha_consulta">Fecha Consulta <p-sortIcon field="date"></p-sortIcon></th>
            <th>Archivos</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-consulta>
        <tr>
            <td>
                <p-tableCheckbox [value]="product"></p-tableCheckbox>
            </td>
            <td>{{ consulta.paciente.nombres}} {{consulta.paciente.apellidos}} </td>
            
            <td>{{consulta.profesional.nombres }} {{consulta.profesional.apellidos }}</td>
            <td>{{consulta.sucursal.nombre}}</td>
            <td>
                {{consulta.fecha_consulta}}
            </td>
            <td>
                <button pButton pRipple icon="pi pi-file" class="p-button-rounded p-button-info mr-2" (click)="openRegistroArchivo(consulta)"></button>
            </td>
            <td>
                <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-info mr-2" routerLink="/admin/consultas/{{consulta.id}}"></button>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            En total son {{consultas ? consultas.length : 0 }} consultas.
        </div>
    </ng-template>
</p-table>
    <pre>
        <code>
            {{ consultas | json }}

        </code>
    </pre>

</div>


<p-dialog [(visible)]="consultaDialog" [style]="{width: '450px'}" header="Consulta" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="pac">Paciente</label>
            <input type="text" pInputText id="pac" [(ngModel)]="consulta.paciente_id" required autofocus />
            <small class="p-error" *ngIf="submitted && consulta.paciente_id!=0 && !consulta.paciente_id">El Paciente es Obligatorio.</small>
        </div>
        <div class="field">
            <label for="pro">Profesional</label>
            <input type="text" pInputText id="pro" [(ngModel)]="consulta.profesional_id" required autofocus />
            <small class="p-error" *ngIf="submitted && consulta.profesional_id!=0 && !consulta.profesional_id">El Profesional es Obligatorio.</small>
        </div>
        <div class="field">
            <label for="suc">Sucursal</label>
            <input type="text" pInputText id="suc" [(ngModel)]="consulta.sucursal_id" required autofocus />
            <small class="p-error" *ngIf="submitted && consulta.sucursal_id!=0 && !consulta.sucursal_id">La Sucursal es Obligatorio.</small>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="guardarConsulta()"></button>
    </ng-template>
    {{ consulta | json }}
</p-dialog>


<p-dialog [(visible)]="archivoDialog" [style]="{width: '450px'}" header="Registro Archivo - Examen Medico" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        
        <div class="field">
            <label for="ex">Seleccionar Tipo Examen</label>
            <input type="text" pInputText id="ex" [(ngModel)]="documento.tipoexamen_id" required autofocus />
            <small class="p-error" *ngIf="submitted && documento.tipoexamen_id">El Tipo Examen es Obligatorio.</small>
        </div>
        <div class="field">
            <label for="det">Detalles (observaciones)</label>
            <input type="text" pInputText id="det" [(ngModel)]="documento.detalle" autofocus />
        </div>
        <div class="field">
            <label for="suc">Archivo</label>

            <!--p-fileUpload name="archivos[]" url="./upload.php" (onUpload)="onUpload($event)"
                    multiple="multiple" accept="image/*" maxFileSize="1000000">
                    <ng-template pTemplate="content">
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                        </ul>
                    </ng-template>
            </p-fileUpload-->

            <p-fileUpload #uploader (onBeforeUpload)="onBeforeUploadListener($event, uploader)">
            </p-fileUpload>

            <!--small class="p-error" *ngIf="submitted && documento.sucursal_id!=0 && !consulta.sucursal_id">La Sucursal es Obligatorio.</small-->
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="guardarArchivo()"></button>
    </ng-template>
    {{ documento | json }}


</p-dialog>
